.navbar{
    padding: .75rem 1.0rem;
}

.Button {
  color: #242254;
  font-size: 0.4375rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Montserrat;
  letter-spacing: normal;
  line-height: normal;
}

.avatar-container {
  width: 2.0625rem;
  height: 2.1875rem;
  background-color: #e8e8e8;
  border-radius: 50%;
}


.btn-menu{
    margin-left: .3rem;
}

.cart_icon{
  height: 0.65rem;
  margin-left: -.7rem;
}

.dropDown_icon{
  width: 1.7rem;
  margin-left: -1.0rem;
}

.logo{
  margin-bottom: 2rem;
}