.navbar{
    padding: .75rem 1.75rem;
}

.Button {
  color: #242254;
  font-size: 7px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Montserrat;
  letter-spacing: normal;
  line-height: normal;
}

.avatar-container {
  width: 33px;
  height: 35px;
  background-color: #e8e8e8;
  border-radius: 50%;
}


.btn-menu{
    margin-left: .3rem;
}